@charset "utf-8";

#wrap{width:100%; background: url(../img/tripathBg.png) no-repeat 50% 0;}

#header{width:100%;}

#header .inner{width:1200px; margin:0 auto; position: relative; height:75px;}
#header .inner:after{content:""; display: block; clear:both;}
#header h1{float: left; width:129px; height:75px}
#header h1 a{width:100%; height: 100%; display: block;}
#header h1 a img{width:100%; height:100%; display: block;}
.gnb{width:776px; float: right;}
.gnb ul:after{content::""; display: block; clear:both;}
.gnb ul li{float: left; margin-right:50px}
.gnb ul li a.active{color:#4594ce}
.gnb ul li a{line-height:75px; font-size:16px; color:#333; display: block; letter-spacing: 0.5px; font-weight: 700}
.gnb ul li.gnbStep2{margin-right:10px; margin-top:26px; position: relative; background: url(../img/selectLang.png) no-repeat 54px 0; text-indent:-6px}
.gnb ul li.gnbStep2:last-child{background: none; text-indent:0; }
.gnb ul li.gnbStep2 a{line-height:20px; font-size:11px; color:#166293; border:1px solid #166293; border-radius: 3px; width:64px; display:block; text-align:center; font-weight: normal;}
.gnb ul li.gnbStep2 ul{position: absolute; top:25px; left:0; display: none; z-index:9999}
.gnb ul li.gnbStep2 li a{width:64px; border:1px solid #166293; border-radius: 0; text-indent: 0; }
.gnb ul li.gnbStep2 li:hover a{background: url(../img/gnbHover.png) repeat 0 0;}
.gnb ul li.gnbStep2 li.on a{background: #fff; color:#166293}
.gnb ul li.gnbStep2 li:last-child a{border-top:none}
.gnb ul li.gnbStep2:last-child{background: none;  border-top:none}
.gnb ul li.gnbStep2 li a{background-color: #fff; border-radius: 0;}

#header .gnb ul li:last-child{margin-right:0}

#header.isBg{background: url(../img/gnbBg.png) repeat-x 0 0; position: fixed; top:0; left:0; z-index:9998}


#container{width:100%; position: relative;}

/*overview*/
.overview{padding-top:385px;}
.overview dl{width:100%; height:100px; background: url(../img/overviewBg.jpg) repeat-y 50% 0%;}
.overview dt{font-size: 20px; line-height: 24px; color:#fff; text-align: center; padding-top:26px;}
.overview dd{font-size: 14px; line-height: 24px; color:#fff; text-align: center; }
.overview .greetingIcon{background: #f5f5f5; width:100%; height:210px;}
.overview .greetingIcon ul{width:920px; margin:0 auto; padding-top:57px}
.overview .greetingIcon ul:after{content:""; display: block; clear:both}
.overview .greetingIcon li{width:120px; margin-right:40px; padding-top:63px; text-align: center; font-size:12px; line-height: 18px; color:#333333; float: left;}
.overview .greetingIcon li:nth-child(1){background: url(../img/overviewIcon1.png) no-repeat 0 0;}
.overview .greetingIcon li:nth-child(2){background: url(../img/overviewIcon2.png) no-repeat 0 0;}
.overview .greetingIcon li:nth-child(3){background: url(../img/overviewIcon3.png) no-repeat 0 0;}
.overview .greetingIcon li:nth-child(4){background: url(../img/overviewIcon4.png) no-repeat 0 0;}
.overview .greetingIcon li:nth-child(5){background: url(../img/overviewIcon5.png) no-repeat 0 0;}
.overview .greetingIcon li:nth-child(6){background: url(../img/overviewIcon6.png) no-repeat 0 0; margin-right:0}


/*greeting*/
.greeting{background: url(../img/under.png) no-repeat 50% 100%; padding-bottom:90px}
.greeting h3{text-align: center; padding-top:71px; padding-bottom:42px; background: url(../img/greetingBar.png) no-repeat 50% 100%; font-size: 30px; line-height: 30px; color:#3d86c6; margin-bottom:26px;
}
.greeting .h3SubTxt{font-size: 14px; line-height: 21px; text-align: center; color:#656565; margin-bottom:70px;}
.greeting .ceoMsg{width:958px; border:1px solid #3d86c6; background:#f2f2f2 url(../img/ceoPhoto.png) no-repeat 100% 100%; margin:0 auto;}
.greeting .ceoMsg p{padding:116px 60px 47px 58px; font-size: 14px; line-height: 21px; color:#333333; width:360px; background:#fff url(../img/logoS.png) no-repeat 58px 69px;}
.greeting .ceoMsg p strong{font-weight: 700; padding-left:6px}


/*organization*/
.organization{background: #f5f5f5; width:100%; }
.organization p{text-align: center; width:100%; background: url(../img/organizationBg.png) no-repeat 50% 0;}
.organization p img{margin-left:50px}
.organization .organiTxt{width:100%; background: #3d86c6;}
.organization .organiTxt ul{width:960px; margin:0 auto;}
.organization .organiTxt ul:after{content:""; display: block; clear:both;}

.organization .organiTxt li{text-align: center; color:#fff; padding-top:71px; padding-bottom:27px; float: left; font-size:14px; line-height:21px}
.organization .organiTxt li:nth-child(1){background: url(../img/organiIcon1.png) no-repeat 0 0; width:300px; margin-right:29px}
.organization .organiTxt li:nth-child(2){background: url(../img/organiIcon2.png) no-repeat 0 0; width:302px; margin-right:29px}
.organization .organiTxt li:nth-child(3){background: url(../img/organiIcon3.png) no-repeat 0 0; width:300px; }

.en .organization .organiTxt li{text-padding-top:81px; padding-bottom:37px;}
.en .organization .organiTxt li:nth-child(1){background: url(../img/organiIcon1En.png) no-repeat 0 0;}
.en .organization .organiTxt li:nth-child(2){background: url(../img/organiIcon2En.png) no-repeat 0 0;}
.en .organization .organiTxt li:nth-child(3){background: url(../img/organiIcon3En.png) no-repeat 0 0;}
/*history*/
.history{padding-top:43px; padding-bottom:46px; background: url(../img/historyBg.png) no-repeat 50% 0; margin-bottom:80px}
.history .inner{width:1200px; margin:0 auto; height:421px;}
.history .inner:after{content:""; display: block; clear:both}
.history h3{font-size:14px; letter-spacing: 5px; width:610px; float: left; color:#fff}
.history .historyCon{width:590px; float: right;}
.history table{width:100%; margin-bottom:27px}
.history table th{font-size: 28px; line-height: 28px; color:#91c5eb ; vertical-align: top; padding-right:29px;}
.history table td{font-size:14px; line-height: 28px; color:#fff;}
.history table td.month{font-weight: 700; padding-right:11px; }

/*contact*/
.contact{width:100%; padding-bottom:46px;}
.contact .mapWrap{width:1280px; margin:0 auto; position: relative;}
.contact .mapWrap .contactLogo{position: absolute; top:0; left:580px; z-index:9990}
.contact .mapWrap .mapZone{width:100%; height:460px; background: #000; margin-bottom:23px;}

.contact .address{text-align: center; font-size: 14px; line-height: 28px;}
.contact .address span{color:#60a1d7; padding-left:16px; padding-right:6px}
.contact .address strong{font-weight: 700}
#footer{background: #333;}
#footer p{margin:0 auto; text-align: center; width:1200px;}




@media screen and (max-width: 1680px) {
  /*contactQsales*/
  .contactQsales{right:1%;}
}
